# Exclude all files except the one in the git-directory, to be easily clone the dir into your home dir
*
!.vimrc
!.zshrc
!README.md

# Include file-specific vim configs
!.vim/
.vim/*
!.vim/ftplugin/
!.vim/ftplugin/*

!.gitignore
!.config/
.config/*
!.config/awesome
!.config/awesome/**/*
!.config/kitty/
!.config/kitty/*
!.config/neofetch/
!.config/neofetch/*
!.package_list/
!.package_list/*
!.config/nvim
!.config/nvim/**/*
