# Exclude all files except the one in the git-directory, to be easily clone the dir into your home dir
*
!.ideavimrc
!.vimrc
!.profile
!.xinitrc
!.zshrc
!.xscreensaver
!README.md

# Include file-specific vim configs
!.vim/
.vim/*
!.vim/ftplugin/
!.vim/ftplugin/*

!.gitignore
!.config/
.config/*
!.config/awesome
!.config/awesome/**/*
!.config/kitty/
!.config/kitty/*
!.config/neofetch/
!.config/neofetch/*
!.package_list/
!.package_list/*
!.config/nvim
!.config/nvim/lua
!.config/nvim/init.lua
!.config/nvim/**/*
.config/nvim/plugin
!.config/i3
!.config/polybar
!.config/i3/**/*
!.config/polybar/**/*
!.config/fish
!.config/fish/**/*
!.config/omf
!.config/omf/**/*
!.config/qtile
!.config/qtile/**/*
.config/qtile/**/__pycache__/*
!.config/sway
!.config/sway/**/*
!.config/waybar
!.config/waybar/**/*
!.config/kanshi
!.config/kanshi/**/*
!.config/nwg-launchers
!.config/nwg-launchers/**/*
!.config/alacritty
!.config/alacritty/**/*
!.config/rofi
!.config/rofi/**/*
!.config/foot
!.config/foot/**/*
!.config/wezterm
!.config/wezterm/**/*
